#main-posts {
    display: flex;
    flex-wrap: wrap;
}
.post-home {
    width: 49%;
    margin: 15px 5px 0 0;
}
.post-categories {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}
.post-category-first {
    position: relative;
    display: block;
    background-color: #78b43d;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 1px;
}
.post-category-first::after {
    border: 7px solid transparent;
    border-top-color: #78b43d;
    position: absolute;
    top: 100%;
    right: 5px;
    content: "";
}
.post-category-first a {
    color: white;
    text-decoration: none;
}
.post-category-first a:hover {
    color: black;
}
.post-category {
    display: block;
    background-color: #c2c2c2;
    border-radius: 2px;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 1px;
}
.post-category a, .post-title a, a.post-content-right  {
    color: black;
    text-decoration: none;
}
.post-category a:hover, .post-title a:hover {
    color: #78b43d;
}
.post-title a {
    font-weight: bold;
    font-size: 14px;
}
.post-content {
    display: flex;
    margin: 5px 0 2px 0;
}
.post-content img {
    margin-right: 10px;
    object-fit: contain;
    max-width: 40%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.post-content-right {
    font-size: 13px;
    line-height: 18px;
    width: 60%;
}
.post-content-right > p, .post-content-right a {
    display: block;
    max-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-tag {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    font-size: 11px;
    text-decoration: none;
    color: #777;
}
.post-tag:hover {
    text-decoration: underline;
}
.post-tag::before {
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #78b43d;
    left: 0;
    top: 1px;
    content: "";
}
.related-posts > li {
    display: block;
    background-color: #d4ecbd;
    padding: 2px;
}
.related-posts >li >a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.related-posts >li >a:hover {
    color: #78b43d;
}
.related-posts >li >a::before {
    position: absolute;
    border: 2px solid #78b43d;
    left: 10px;
    top: 5px;
    content: "";
}
.highlight-posts >li {
    background-color: #99c074;
    font-weight: bold;
}
